<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Personas</title>
    <style>
      .Pfoto {
        width: 100px;
        height: auto;
      }
    </style>
    <!-- Agrega los enlaces a Bootstrap y jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2k6LrH0D9Gv5UqqewU73cxH5ZN9l/EPL" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-mCkWlBGQ1G3gnR8Xo7nSv9T2WqjFOvxkEj6Ibz5HlEZ5JRlzk9GdA2mUIdV8wIs" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2k6LrH0D9Gv5UqqewU73cxH5ZN9l/EPL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-4">
        <h1>Listado de Personas</h1>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cargo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Descripción</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                    <tr>
                        <td>{{ persona['id'] }}</td>
                        <td>{{ persona['cargo'] }}</td>
                        <td>{{ persona['nombre'] }}</td>
                        <td>{{ persona['apellido'] }}</td>
                        <td>{{ persona['descripcion'] }}</td>
                        <td><img class="Pfoto" src="data:image/png;base64,{{ persona['foto'] }}" alt="Foto"></td>
                        <td>
                            <!-- Botón para abrir el modal de edición -->
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalEditar{{ persona['id'] }}">Editar</button>
                        </td>
                    </tr>
                    
                    <!-- Modal de edición -->
                    <div class="modal fade" id="modalEditar{{ persona['id'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar Persona</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Formulario de edición -->
                                    <form id="formEditarPersona{{ persona['id'] }}" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="editCargo{{ persona['id'] }}">Cargo:</label>
                                            <input type="text" class="form-control" id="editCargo{{ persona['id'] }}" name="cargo" value="{{ persona['cargo'] }}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="editNombre{{ persona['id'] }}">Nombre:</label>
                                            <input type="text" class="form-control" id="editNombre{{ persona['id'] }}" name="nombre" value="{{ persona['nombre'] }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="editApellido{{ persona['id'] }}">Apellido:</label>
                                            <input type="text" class="form-control" id="editApellido{{ persona['id'] }}" name="apellido" value="{{ persona['apellido'] }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="editDescripcion{{ persona['id'] }}">Descripción:</label>
                                            <input type="text" class="form-control" id="editDescripcion{{ persona['id'] }}" name="descripcion" value="{{ persona['descripcion'] }}" required>
                                        </div>
                                        <!-- Puedes agregar más campos según tu modelo -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" onclick="guardarEdicionPersona('{{ persona.id }}')">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        // Función para guardar la edición de la persona (puedes implementar esta función según tu lógica)
        function guardarEdicionPersona(id) {
            // Obtener los datos del formulario específico
            var formData = new FormData($('#formEditarPersona' + id)[0]);

            // Realizar la lógica de guardado o enviar la información al servidor
            // Puedes usar AJAX para enviar la información al servidor
            // ...

            // Cerrar el modal después de editar
            $('#modalEditar' + id).modal('hide');
        }
    </script>
</body>
</html>
